In [2]:
import pandas as pd 
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline


# dataframe
df_features = pd.read_csv('features.csv')
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_stores = pd.read_csv('stores.csv')

# set column name to lower 
df_stores.columns = df_stores.columns.str.lower()
df_features.columns = df_features.columns.str.lower()
df_train.columns = df_train.columns.str.lower()
df_test.columns =df_test.columns.str.lower()

In [3]:
# converting date(object) to date(datetime)
df_train["date"] = pd.to_datetime(df_train["date"])
df_features["date"] = pd.to_datetime(df_features["date"])
df_test["date"] = pd.to_datetime(df_test["date"])

df_train['week_no'] = df_train['date'].dt.isocalendar().week

In [4]:
del df_features['markdown1']
del df_features['markdown2']
del df_features['markdown3']
del df_features['markdown4']
del df_features['markdown5']
del df_train['date']

In [5]:
# training and validation datasets
n = int(len(df_train))
n_val = int(n*0.2)
n_test = int(n*0.2)
n_train = n - (n_val+ n_test)


# making random sample
indx = np. arange(n)
np.random.shuffle(indx)


# Selecting Data
sales_df_train = df_train.iloc[indx[:n_train]]
sales_df_val = df_train.iloc[indx[n_train:(n_train+n_val)]]
sales_df_test = df_train.iloc[indx[(n_train+n_val):]]

In [6]:
# reset_index(drop = TRUE)
sales_df_test.reset_index(drop = True)
sales_df_val.reset_index(drop = True)
sales_df_train.reset_index(drop = True)

        store  dept  weekly_sales  isholiday  week_no
0          42    93      29635.13      False       42
1          44    59         28.45      False       46
2          11    92      71582.27      False       22
3          34    59        413.88      False       39
4          11    92      81753.39      False        5
...       ...   ...           ...        ...      ...
252937     34    42       4161.67      False       33
252938     44    32         42.00      False       15
252939     43    52         19.43      False       50
252940     20    10      54164.45      False       51
252941     35    29       6854.49      False       21

[252942 rows x 5 columns]

In [7]:
# setting the target value for model

y_test = np.log1p(sales_df_test.weekly_sales.values)
y_train = np.log1p(sales_df_train.weekly_sales.values)
y_val = np.log1p(sales_df_val.weekly_sales.values)

C:\Users\adars\AppData\Local\Temp\ipykernel_23692\1044200165.py:3: RuntimeWarning: divide by zero encountered in log1p
  y_test = np.log1p(sales_df_test.weekly_sales.values)
C:\Users\adars\AppData\Local\Temp\ipykernel_23692\1044200165.py:3: RuntimeWarning: invalid value encountered in log1p
  y_test = np.log1p(sales_df_test.weekly_sales.values)
C:\Users\adars\AppData\Local\Temp\ipykernel_23692\1044200165.py:4: RuntimeWarning: divide by zero encountered in log1p
  y_train = np.log1p(sales_df_train.weekly_sales.values)
C:\Users\adars\AppData\Local\Temp\ipykernel_23692\1044200165.py:4: RuntimeWarning: invalid value encountered in log1p
  y_train = np.log1p(sales_df_train.weekly_sales.values)
C:\Users\adars\AppData\Local\Temp\ipykernel_23692\1044200165.py:5: RuntimeWarning: divide by zero encountered in log1p
  y_val = np.log1p(sales_df_val.weekly_sales.values)
C:\Users\adars\AppData\Local\Temp\ipykernel_23692\1044200165.py:5: RuntimeWarning: invalid value encountered in log1p
  y_val = np.log1p(sales_df_val.weekly_sales.values)

In [8]:
del sales_df_train['weekly_sales']
del sales_df_test['weekly_sales']
del sales_df_val['weekly_sales']

In [9]:
sales_df_train.iloc[10]

store          28
dept           59
isholiday    True
week_no        52
Name: 273942, dtype: object

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error

In [13]:
# One-Hot Encoding
from sklearn.feature_extraction import DictVectorizer

dv = DictVectorizer(sparse = False)

In [15]:
train_dict = sales_df_train.to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = sales_df_val.to_dict(orient='records')
X_val = dv.fit_transform(val_dict)

In [16]:
# Iitiate model
lasso = Lasso(alpha = 0.1)

In [20]:
np.sum(np.isnan(y_train))

732

In [22]:
# handling 'inf value'
np.sum(np.isinf(y_train))
inf_mask = np.isinf(y_train)

# replace 'inf' with 'nan' value
y_train[inf_mask] = np.nan

# calculating mean of the array
mean_value = np.nanmean(y_train)
print(mean_value)

# replacing 'nan' value with mean_value
y_train = np.where(np.isnan(y_train), mean_value, y_train)
print("'nan' value after replacing it with mean_value :", np.sum(np.isnan(y_train)))

8.52615537736559
'nan' value after replacing it with mean_value : 0

In [23]:
# Training model
lasso.fit(X_train, y_train)

Lasso(alpha=0.1)

In [24]:
# make prediction
y_pred = lasso.predict(X_val)
print(y_val)

[ 9.68845787 11.60202494  8.97307508 ...  5.5521453   7.88863828
  5.88735325]

In [25]:
np.sum(np.isnan(y_val))

236

In [26]:
# handling 'inf value'
np.sum(np.isinf(y_val))
inf_mask = np.isinf(y_val)

# replace 'inf' with 'nan' value
y_val[inf_mask] = np.nan

# calculating mean of the array
mean_value = np.nanmean(y_val)
print(mean_value)

# replacing 'nan' value with mean_value
y_val = np.where(np.isnan(y_val), mean_value, y_val)
print("'nan' value after replacing it with mean_value :", np.sum(np.isnan(y_val)))

8.531180673849759
'nan' value after replacing it with mean_value : 0

In [27]:
# evaluate model
#mse
mse =  mean_squared_error(y_pred, y_val)
#rmse
rmse = np.sqrt(mse)

In [28]:
print(rmse)

1.9983407932474149

In [30]:
y_val_actual = np.expm1(y_val)
y_pred_actual = np.expm1(y_pred)

mse_actual  = mean_squared_error(y_pred_actual, y_val_actual)
rmse = np.sqrt(mse_actual)

print(rmse)

24935.76139827414