In [1]:
import pandas as pd 
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline



df_features = pd.read_csv('features.csv')
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_stores = pd.read_csv('stores.csv')

df_stores.columns = df_stores.columns.str.lower()
df_features.columns = df_features.columns.str.lower()
df_train.columns = df_train.columns.str.lower()
df_test.columns =df_test.columns.str.lower()

In [2]:
# converting date(object) to date(datetime)
df_train["date"] = pd.to_datetime(df_train["date"])
df_features["date"] = pd.to_datetime(df_features["date"])
df_test["date"] = pd.to_datetime(df_test["date"])

df_train['week_no'] = df_train['date'].dt.isocalendar().week

In [3]:
del df_features['markdown1']
del df_features['markdown2']
del df_features['markdown3']
del df_features['markdown4']
del df_features['markdown5']
del df_train['date']

In [4]:
df_features.isnull().sum()

store             0
date              0
temperature       0
fuel_price        0
cpi             585
unemployment    585
isholiday         0
dtype: int64

In [5]:
# training and validation datasets

n = int(len(df_train))
n_val = int(n*0.2)
n_test = int(n*0.2)
n_train = n - (n_val+ n_test)

# making random sample
indx = np. arange(n)
np.random.shuffle(indx)

# Selecting Data
sales_df_train = df_train.iloc[indx[:n_train]]
sales_df_val = df_train.iloc[indx[n_train:(n_train+n_val)]]
sales_df_test = df_train.iloc[indx[(n_train+n_val):]]

In [6]:
# reset_index(drop = TRUE)
sales_df_test.reset_index(drop = True)
sales_df_val.reset_index(drop = True)
sales_df_train.reset_index(drop = True)

        store  dept  weekly_sales  isholiday  week_no
0           7    17       4470.08      False       42
1          11    42       6525.65      False       35
2          43    28         81.29      False       19
3          40    67       6546.16      False       21
4          25    55       9891.85      False       16
...       ...   ...           ...        ...      ...
252937     19    41       3119.17      False       41
252938     31    58       3585.00      False       20
252939     24    41       1221.33      False       17
252940     16    82       8346.96      False        8
252941      9    42       5242.16      False       39

[252942 rows x 5 columns]

In [7]:
# setting the target value for model

y_test = np.log1p(sales_df_test.weekly_sales.values)
y_train = np.log1p(sales_df_train.weekly_sales.values)
y_val = np.log1p(sales_df_val.weekly_sales.values)

C:\Users\adars\AppData\Local\Temp\ipykernel_14148\3056384655.py:3: RuntimeWarning: divide by zero encountered in log1p
  y_test = np.log1p(sales_df_test.weekly_sales.values)
C:\Users\adars\AppData\Local\Temp\ipykernel_14148\3056384655.py:3: RuntimeWarning: invalid value encountered in log1p
  y_test = np.log1p(sales_df_test.weekly_sales.values)
C:\Users\adars\AppData\Local\Temp\ipykernel_14148\3056384655.py:4: RuntimeWarning: divide by zero encountered in log1p
  y_train = np.log1p(sales_df_train.weekly_sales.values)
C:\Users\adars\AppData\Local\Temp\ipykernel_14148\3056384655.py:4: RuntimeWarning: invalid value encountered in log1p
  y_train = np.log1p(sales_df_train.weekly_sales.values)
C:\Users\adars\AppData\Local\Temp\ipykernel_14148\3056384655.py:5: RuntimeWarning: divide by zero encountered in log1p
  y_val = np.log1p(sales_df_val.weekly_sales.values)
C:\Users\adars\AppData\Local\Temp\ipykernel_14148\3056384655.py:5: RuntimeWarning: invalid value encountered in log1p
  y_val = np.log1p(sales_df_val.weekly_sales.values)

In [8]:
del sales_df_train['weekly_sales']
del sales_df_test['weekly_sales']
del sales_df_val['weekly_sales']

In [9]:
sales_df_train.iloc[10]

store            5
dept            72
isholiday    False
week_no         14
Name: 46904, dtype: object

In [10]:
sales_df_train['isholiday'] = sales_df_train['isholiday'].astype(int)
sales_df_test['isholiday'] = sales_df_train['isholiday'].astype(int)
sales_df_val['isholiday'] = sales_df_train['isholiday'].astype(int)

C:\Users\adars\AppData\Local\Temp\ipykernel_14148\4119575238.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_df_train['isholiday'] = sales_df_train['isholiday'].astype(int)
C:\Users\adars\AppData\Local\Temp\ipykernel_14148\4119575238.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_df_test['isholiday'] = sales_df_train['isholiday'].astype(int)
C:\Users\adars\AppData\Local\Temp\ipykernel_14148\4119575238.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_df_val['isholiday'] = sales_df_train['isholiday'].astype(int)

In [11]:
sales_df_train

        store  dept  isholiday  week_no
61286       7    17          0       42
103472     11    42          0       35
400842     43    28          0       19
378086     40    67          0       21
243626     25    55          0       16
...       ...   ...        ...      ...
182607     19    41          0       41
300563     31    58          0       20
232299     24    41          0       17
155943     16    82          0        8
84143       9    42          0       39

[252942 rows x 4 columns]

In [12]:
# Normalisation of features

import pandas as pd
from sklearn.preprocessing import StandardScaler

# Instantiate the scaler
scaler = StandardScaler()

# Fit and transform the data
train_scaled_features = scaler.fit_transform(sales_df_train)
# Convert the scaled features back to a DataFrame
train_df_scaled = pd.DataFrame(train_scaled_features, columns=sales_df_train.columns)

test_scaled_features = scaler.fit_transform(sales_df_test)
val_scaled_features = scaler.fit_transform(sales_df_val)

test_df_scaled = pd.DataFrame(test_scaled_features, columns=sales_df_train.columns)
val_df_scaled = pd.DataFrame(val_scaled_features, columns=sales_df_train.columns)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\extmath.py:1051: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\extmath.py:1056: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\extmath.py:1076: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\extmath.py:1051: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\extmath.py:1056: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\extmath.py:1076: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

In [32]:
val_df_scaled = val_df_scaled.fillna(0)

In [33]:
train_df_scaled

           store      dept  isholiday   week_no
0      -1.190109 -0.892871  -0.274585  1.142987
1      -0.877266 -0.072619  -0.274585  0.647891
2       1.625474 -0.531960  -0.274585 -0.483756
3       1.390842  0.747633  -0.274585 -0.342300
4       0.217683  0.353912  -0.274585 -0.695940
...          ...       ...        ...       ...
252937 -0.251581 -0.105429  -0.274585  1.072259
252938  0.686947  0.452342  -0.274585 -0.413028
252939  0.139472 -0.105429  -0.274585 -0.625212
252940 -0.486213  1.239784  -0.274585 -1.261764
252941 -1.033688 -0.072619  -0.274585  0.930803

[252942 rows x 4 columns]

## One-Hot encoding

In [34]:

from sklearn.feature_extraction import DictVectorizer

dv = DictVectorizer(sparse = False)

In [35]:
train_dict = train_df_scaled.to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = val_df_scaled.to_dict(orient='records')
X_val = dv.fit_transform(val_dict)

In [36]:
X_val

array([[-1.12568189,  0.        ,  1.47552936,  1.7771827 ],
       [-0.66620747,  0.        , -0.6390585 , -0.62026588],
       [-1.22414069,  0.        ,  1.47552936,  1.63615632],
       ...,
       [-1.09286229,  0.        ,  1.78880164,  0.7194848 ],
       [-0.27237225,  0.        , -1.50055726, -1.60745059],
       [ 0.15428257,  0.        , -0.71737657, -0.76129227]])

## Model

In [37]:
# handling 'inf value'
np.sum(np.isinf(y_train))
inf_mask = np.isinf(y_train)

# replace 'inf' with 'nan' value
y_train[inf_mask] = np.nan

# calculating mean of the array
mean_value = np.nanmean(y_train)
print(mean_value)

# replacing 'nan' value with mean_value
replaced_array_train = np.where(np.isnan(y_train), mean_value, y_train)
print("'nan' value after replacing it with mean_value :", np.sum(np.isnan(replaced_array_train)))

8.526446646764224
'nan' value after replacing it with mean_value : 0

In [38]:
# handling 'inf value'
np.sum(np.isinf(y_test))
inf_mask = np.isinf(y_test)

# replace 'inf' with 'nan' value
y_test[inf_mask] = np.nan

# calculating mean of the array
mean_value = np.nanmean(y_test)
print(mean_value)

# replacing 'nan' value with mean_value
replaced_array_test = np.where(np.isnan(y_test), mean_value, y_test)
print("'nan' value after replacing it with mean_value :", np.sum(np.isnan(replaced_array_test)))

8.532836212983126
'nan' value after replacing it with mean_value : 0

In [39]:
# handling 'inf value'
np.sum(np.isinf(y_val))
inf_mask = np.isinf(y_val)

# replace 'inf' with 'nan' value
y_val[inf_mask] = np.nan

# calculating mean of the array
mean_value = np.nanmean(y_val)
print(mean_value)

# replacing 'nan' value with mean_value
replaced_array_val = np.where(np.isnan(y_val), mean_value, y_val)
print("'nan' value after replacing it with mean_value :", np.sum(np.isnan(replaced_array_val)))

8.517381334713368
'nan' value after replacing it with mean_value : 0

In [40]:
np.sum(np.isnan(X_val))

0

In [74]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

# training model
model.fit(X_train, replaced_array_train)

# prediction
y_pred = model.predict(X_val)
print(y_pred)
print(len(y_pred))

actual_pred = np.expm1(y_pred)
print("Actual Prediction:", actual_pred)

[8.14325392 8.64334386 8.13241212 ... 8.01288187 8.85657826 8.69827823]
84314
Actual Prediction: [3439.0934549  5671.26542313 3401.99812251 ... 3018.60669348 7019.41954376
 5991.58545709]

In [75]:
print(replaced_array_val)
print(len(replaced_array_val))

actual_y_val = np.expm1(replaced_array_val)
print(actual_y_val)

[10.07068532  8.94033579 11.4516822  ...  9.46346594  5.40159572
  8.98131833]
84314
[23638.76  7632.76 94058.44 ... 12879.45   220.76  7952.11]

## RMSE

In [80]:
def rsme(y_true, y_pred):
    y_true = np.array(y_true)
    y_pred = np.array(y_pred)
    
    sq_diff = (y_true - y_pred)**2
    mean_sq_error = np.mean(sq_diff)
    rsme = np.sqrt(mean_sq_error)
    
    return rsme

cal_rsme = rsme(y_pred,replaced_array_val )
print("rsme:", cal_rsme)

rsme: 2.0022312052050584

In [81]:
print(rsme(actual_pred, actual_y_val))

24760.856357498473